#canvas1 {
    position: relative; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;

 /* add shadow to the canvas */
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);    
}

#robot {
    display: none;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1020px;
    height: 520px;
}


#currentState, .state-label {
    position: relative;
    font-size: 20px;
    text-align: 'center';
    font-family: 'Bangers', cursive;
}
